:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 58px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}


.ChatImage a{
    color: white;
    
  }

  .ChatImage hover{
    color: purple;
   
  }
 
  .hero {
background: linear-gradient(360.4deg, rgb(253, 240, 233) 30.5%, #9e81e6 76.2%);    
text-align: center;
  }
 

@media (min-width: 360px) {
  .ChatImage {
    margin-left: 260px;
    margin-top: -86px;
    color: white;
    font-size: 16px;
  }
}



@media (min-width: 375px) {
  .ChatImage {
    margin-left: 270px;
    margin-top: -88px;
    color: white;
    font-size: 18px;
  }
}

@media (min-width: 411px) {
.ChatImage {
    margin-left: 298px;
    margin-top: -91px;
    color: white;
    font-size: 20px;
  }
}
}


@media (min-width: 414px) {
  .ChatImage {
    margin-left: 299px;
    margin-top: -91px;
    color: white;
    font-size: 18px;
  }
}

@media (min-width: 540px) {
  .ChatImage {
    margin-left: 388px;
    margin-top: -105px;
    color: white;
    font-size: 27px;
  }
}

@media (min-width: 768px) {
  .ChatImage {
    margin-left: 551px;
    margin-top: -130px;
    color: white;
    font-size: 38px;
  }
}

@media (min-width: 1024px) {
  .ChatImage {
    margin-left: 738px;
    margin-top: -156px;
    color: white;
    font-size: 49px;
  }
}

@media (min-width: 1280px) {
  .ChatImage {
    margin-left: 1034px;
    margin-top: -200px;
    color: white;
    font-size: 70px;
  }

  .profilePic {
  margin-left: 50px;
  margin-top:-60px;
  margin-bottom: 0px;
  width: 95%;
}


